.wrapper
  =render 'posts/header'
  .content
    .posts_all
      - @posts.each do |post|
        .posts
          .show_question
            = post.question
          .show_all
            .show_image
              - if post.question_image.present?
                = image_tag post.question_image
            .show_answer
              - if post.answer.present?
                .show_answer_text
                  = post.answer
              - if post.link_url.present?
                .show_link
                  = link_to '参考サイト', post.link_url, target: "_blank"

