.wrapper
  = render 'posts/header'
  .content
    .memoes
      = render @posts
      / .memo
      /   %h2
      /     https://i.stack.imgur.com/QM90o.png
      /   .image
      /     %img{src:"https://i.stack.imgur.com/QM90o.png"}