.show_question{
  color: #eee;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 30px;
}
.show_all{
	height: 500px;
	width: 100%;
}
.show_image{
	height: 100%;
	width: 50%;
	float: left;
	img{
		height: 100%;
		width: 100%;
	}
}
.show_answer{
	float: left;
	background-color: #302929;
	overflow: scroll;
	height: 100%;
	width: 50%;
	.show_answer_text{
		padding-top: 20px;
		padding-left: 30px;
		color:#eee;
	    font-size: 36px;
	}
}
.show_link{
	padding-left: 30px;
	padding-top: 50px;
    font-family: 'Avenir','Arial';/*フォントをいい感じに*/
	font-size: 30px;
	a {
		color: white;
		background-color: skyblue;
	    padding:5px 10px;/*内側の余白*/
        border-radius: 20px;/*角を丸くする*/
		text-decoration: none
	}
	a:hover{
		font-weight: bold;
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      opacity: 0.7;
	}
}
