.wrapper
  %header
    %img{src:"assets/cooltext261419304830316.png"}
    %ul.menu
      %li.menu_button.home
        %button{:type => "button"}
          %h3
            HOME
      %li.menu_button.memory
        %button{:type => "button"}
          %h3
            MEMORY
      %li.menu_button
        %button{:type => "button"}
          %h3
            POST
  .content
    .memoes
      .memo
        %h2
          syntax error near unexpected token
      .memo
        %h2
          syntax error near unexpected token
      .memo
        %h2
          syntax error near unexpected token
      .memo
        %h2
          https://i.stack.imgur.com/QM90o.png
        .image
          %img{src:"https://i.stack.imgur.com/QM90o.png"}
      .memo
        %h2
          syntax error near unexpected token vkjwnblvnbdslbnvfklsbnfnblkfsnblksfnblksnbkl sfnblksnvlsdnvsklvndlkavvvvvvvdssvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

